#plistTable_wrapper {
    margin-left: 5%;
  }
  
  div.content {
    margin-top: 5%;
    margin-left: 5%;
  }
  
  a.link {
    color:#000000;
  }
  a.sidelink {
  color:#000000;
  
  }
  
  a.subsidelink {
    color:#000000;
    font-size: 80%;
    margin-left: 5%;
  }
  