{% extends "base.html" %}

<a>{% block nav-client %}<a class="btn btn-primary active" href="{% url 'client_list' %}">Klienci</a>{% endblock %}</a>

{% block title %}
<h2>Lista klientów</h2>
{% endblock %}

{% block content %}
<script type="text/javascript" language="javascript" src="http://datatables.net/release-datatables/media/js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="http://datatables.net/release-datatables/media/js/jquery.dataTables.js"></script>
<script>
$(document).ready(function(){
    // Initalize DataTables on <table> tag with id="example"
    $('#plistTable').dataTable({

        "language": {
            "lengthMenu": "Wyświetl _MENU_ wyników na stronie",
            "zeroRecords": "Bak wyników",
            "search": "Wyszukaj:",
            "info": "Strona _PAGE_ z _PAGES_",
            "infoEmpty": "Nie ma nic do wyświetlenia",
            "infoFiltered": "(wyfiltrowano z _MAX_ wyników)",
            "paginate": {
                "previous": "poprzednia ",
                "next": " następna"
            }
        }
    });  
});
</script>
<div class="add">
    <a class="btn btn-primary w-10 mb-3" role="button" href="{% url 'client_create' %}">Dodaj klienta</a>
</div>
<table id="plistTable", class="table table-hover table-bordered w-75">
    <thead>   <!-- header row -->
        <tr class="bg-primary text-white">
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Nr. telefonu</th>
            <th>Włosy</th>
        </tr>
    </thead>
    <tbody>   <!-- data  -->
    {% for Client in client_list %}
        <tr>
            <td>
                <a class ="link" href="{{ Client.get_absolute_url }}"> {{ Client.first_name }} </a>
            </td>
            <td>
                <a class ="link" href="{{ Client.get_absolute_url }}"> {{ Client.last_name }} </a>
            </td>
            <td>
                <a class ="link" href="{{ Client.get_absolute_url }}"> {{ Client.tel_number }} </a>
            </td>
            <td>
                <a class ="link" href="{{ Client.get_absolute_url }}"> {{ Client.get_hair_display }} </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}