{% extends "base.html" %}

<div class="content">
  {% block content %}
    <a class="link" href="{% url 'product_edit' pk=product_detail.pk %}">Edytuj</a>
    <h2>{{ product_detail.name }}</h2>
    <p><strong>Barcode:</strong> {{ product_detail.barcode }}</p> 
    <p><strong>Rodzaj:</strong> {{ product_detail.get_pors_display }}</p>
    <p><strong>Group:</strong> {{ product_detail.group }}</p>
    <p><strong>Type:</strong> {{ product_detail.type }}</p>
    <p><strong>Price:</strong> {{ product_detail.price }}</p>
  {% endblock %}
</div>