{% extends "base.html" %}

{% block nav-product %}<a class="btn btn-primary active" href="{% url 'product_list' %}">Produkty</a>{% endblock %}

{% block title %}
<h2>Detale produktu</h2>
{% endblock %}

<div class="content">
  {% block content %}
    <a class="btn btn-primary w-10 mb-3" href="{% url 'product_edit' pk=product_detail.pk %}">Edytuj</a>
    <a role="button" onclick="javascript:history.back();" class="btn btn-outline-secondary w-10 mb-3">Cofnij</a>
    <h2>{{ product_detail.name }}</h2>
    <p><strong>Kod kreskowy:</strong> {{ product_detail.barcode }}</p> 
    <p><strong>Rodzaj:</strong> {{ product_detail.get_pors_display }}</p>
    <p><strong>Grupa:</strong> {{ product_detail.group }}</p>
    <p><strong>Typ:</strong> {{ product_detail.type }}</p>
    <p><strong>Cena:</strong> {{ product_detail.price }}</p>
    {% if product_detail.pors == 1 %}
    <p><strong>Ilość</strong> {{ product_detail.count_remaining }}</p>
    {% endif %}
  {% endblock %}
</div>