{% extends "base.html" %}

{% block content %}
<script type="text/javascript" language="javascript" src="http://datatables.net/release-datatables/media/js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="http://datatables.net/release-datatables/media/js/jquery.dataTables.js"></script>
<script>
$(document).ready(function(){
    // Initalize DataTables on <table> tag with id="example"
    $('#plistTable').dataTable({

        "language": {
            "lengthMenu": "Wyświetl _MENU_ wyników na stronie",
            "zeroRecords": "Bak wyników",
            "search": "Wyszukaj:",
            "info": "Strona _PAGE_ z _PAGES_",
            "infoEmpty": "Nie ma nic do wyświetlenia",
            "infoFiltered": "(wyfiltrowano z _MAX_ wyników)",
            "paginate": {
                "previous": "poprzednia ",
                "next": " następna"
            }
        }
    });  
});
</script>

<div class="add">
    <a class="btn btn-primary w-10 mb-3" role="button" href="{% url 'product_create' %}">Dodaj produkt</a>
</div>
<table id="plistTable", class="plistTable">
    <thead>   <!-- header row -->
        <tr>
            <th>Nazwa</th>
            <th>Rodzaj</th>
            <th>Grupa</th>
            <th>Typ</th>
        </tr>
    </thead>
    <tbody>   <!-- data  -->
    {% for Product in product_list %}
        <tr>
            <td>
                <a class ="link" href="{{ Product.get_absolute_url }}"> {{ Product.name }} </a>
            </td>
            <td>
                <a class ="link" href="{{ Product.get_absolute_url }}"> {{ Product.get_pors_display }} </a>
            </td>
            <td>
                <a class ="link" href="{{ Product.get_absolute_url }}"> {{ Product.group }} </a>
            </td>
            <td>
                <a class ="link" href="{{ Product.get_absolute_url }}"> {{ Product.type }} </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}