<html>
    <head>
    <title>Some kzsite</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'warehouse/css/basic.css' %}">
    </head>
<body>
    <h1>COKOLWIEK</h1>
    {% block sidebar %}
    {% endblock %}
            {% block content %}
            {% endblock %}
</body>
</html>