<html>
    <head>
    <title>Some kzsite</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/basic.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/sidebar.css' %}">
    </head>
<body>

    <nav class="navbar navbar-dark bg-primary">
        <div class="navbar d-inline-flex m-2">
            {% block nav %}
            <div id="nav">
                    <a>{% block nav-home %}<a class="text-white p-2" href="{% url 'home' %}">Start</a>{% endblock %}</a>
                    <a>{% block nav-event %}<a class="text-white p-2" href="{% url 'event_list' %}">Zdarzenia</a>{% endblock %}</a>
                    <a>{% block nav-client %}<a class="text-white p-2" href="{% url 'client_list' %}">Klienci</a>{% endblock %}</a>
                    <a>{% block nav-product %}<a class="text-white p-2" href="{% url 'product_list' %}">Produkty</a>{% endblock %}</a>
                    <a>{% block nav-type %}<a class="text-white p-2" href="{% url 'ptype_list' %}">Typy</a>{% endblock %}</a>
                    <a>{% block nav-group %}<a class="text-white p-2" href="{% url 'pgroup_list' %}">Grupy</a>{% endblock %}</a>
            </div>
            {% endblock %}
        </div>
    </nav>
    <div class="m-3">
        {% block title %}
        <h2></h2>
        {% endblock %}
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>        
</body>
</html>