<html>
    <head>
    <title>Some kzsite</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/basic.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/sidebar.css' %}">
    </head>
<body>
    <a class="link" href="{% url 'home' %}">COKOLWIEK</a>
    <div class="sidebar">
        {% include "sidebar.html" %}
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>        
</body>
</html>