
<div class="d-inline-flex p-2 table-bordered">
    <a class="p-2 btn" href="{% url 'home' %}">Start</a>
    <a class="p-2 btn" href="{% url 'event_list' %}">Zdarzenia</a>
    <a class="p-2 btn" href="{% url 'client_list' %}">Klienci</a>
    <a class="p-2 btn" href="{% url 'product_list' %}">Produkty</a>
 
</div>

{% if request.path == '/products/' or '/products/groups' or '/products/types' %}
<div class=" p-2 table-bordered">
    <a class="p-2 btn" href="{% url 'ptype_list' %}">Typy</a>
    <a class="p-2 btn" href="{% url 'pgroup_list' %}">Grupy</a>
</div>
{% endif %}

