<table>
    <tbody>
        <tr>
            <td>
                <a class="sidelink" href="{% url 'event_list' %}">Zdarzenia</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="sidelink" href="{% url 'product_list' %}">Produkty</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="subsidelink" href="{% url 'ptype_list' %}">Typy</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="subsidelink" href="{% url 'pgroup_list' %}">Grupy</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="sidelink" href="{% url 'client_list' %}">Klienci</a>
            </td>
        </tr>
    </tbody>
</table>

