<div id="form_set" class="d-inline-flex py-2">
    <table class="d-inline-flex py-2">
      <tr class="d-inline-flex">
        <table>
          <thead class="">
            <tr>
              {% for field in form.visible_fields %}
                <th>
                  {{ field.label|capfirst }}
                </th>
              {% endfor %}
            </tr>
          </thead>
          <tbody class="">
            <tr>  
              {% for form in form %}
              <td>
                {{ form }}
              </td>
            {% endfor %}
            </tr>
          </tbody>
        </table>
      </tr>
    </table>
  </div>