{% extends "base.html" %}

<div class="content">
  {% block content %}
    <button class="link btn btn-primary w-100 mb-3" href="{% url 'event_edit' pk=event_detail.pk %}">Edytuj</button>
    <button role="button" onclick="javascript:history.back();" class="btn btn-secondary w-100">Cofnij</button>
    <h2>{{ client_detail.first_name }}{{" "}}{{ client_detail.last_name }}</h2>
    <p><strong>Imię:</strong> {{ event_detail.first_name }}</p> 
    <p><strong>Nazwisko:</strong> {{ event_detail.last_name }}</p>
    <p><strong>Numer telefonu:</strong> {{ event_detail.tel_number }}</p>
    <p><strong>Status:</strong> {{ event_detail.get_status_display }}</p>
    <table> 
      {% for event_detail.EventProduct in event_detail.Event %}
       {% event_detail.EventProduct.Product %} 
       {% event_detail.EventProduct.Quantity %} 
      {% endfor %}
    </table>
  {% endblock %}
</div>