{% extends "base.html" %}

<a>{% block nav-event %}<a class="btn btn-primary active" href="{% url 'event_list' %}">Zdarzenia</a>{% endblock %}</a>

{% block title %}
<h2>Lista zdarzeń</h2>
{% endblock %}
{% block content %}
<script type="text/javascript" language="javascript" src="http://datatables.net/release-datatables/media/js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="http://datatables.net/release-datatables/media/js/jquery.dataTables.js"></script>
<script>
$(document).ready(function(){
 $('#plistTable').dataTable({
        pageLength : 100,
        lengthChange : false,
        language: {
            "lengthMenu": "Wyświetl _MENU_ wyników na stronie",
            "zeroRecords": "Bak wyników",
            "search": "Wyszukaj: ",
            "info": "Strona _PAGE_ z _PAGES_",
            "infoEmpty": "Nie ma nic do wyświetlenia",
            "infoFiltered": "(wyfiltrowano z _MAX_ wyników)",
            "paginate": {
                "previous": "poprzednia ",
                "next": " następna"
            },
        },
        
    });
    
});

</script>

<div class="add_in_out">
    <a class="btn btn-primary w-10 mb-3" role="button" href="{% url 'event_in_create' %}">Dodaj przyjęcie magazynowe</a>
    <a class="btn btn-primary w-10 mb-3" role="button" href="{% url 'event_create' %}">Dodaj rozchód magazynowy</a>
</div>
<div class="container"></div>
<table id="plistTable", class="table table-hover table-bordered w-75">
    <thead>   <!-- header row -->
        <tr class="bg-primary text-white">
            <th class="">Klient</th>
            <th class="">Czas dodania</th>
            <th class="">Czas zakończenia</th>
            <th class="">Status</th>
            <th class="">Kierunek</th>
        </tr>
    </thead>
    <tbody>   <!-- data  -->
    {% for Event in event_list %}
        <tr class="">
            <td>
                {% if Event.client == Null %}
                <a class ="link" href="{{ Event.get_absolute_url }}"> {{ "Nie dotyczy" }} </a>
                {% else %}
                <a class ="link" href="{{ Event.get_absolute_url }}"> {{ Event.client }} </a>
                {% endif %}
            </td>
            <td>
                <a class ="link" href="{{ Event.get_absolute_url }}"> {{ Event.time_add }} </a>
            </td>
            <td>
                <a class ="link" href="{{ Event.get_absolute_url }}"> {{ Event.time_done }} </a>
            </td>
            <td>
                <a class ="link" href="{{ Event.get_absolute_url }}"> {{ Event.get_status_display }} </a>
            </td>
            <td>
                {% if Event.outcome == True %}
                <a class ="link" href="{{ Event.get_absolute_url }}"> {{ "Zew." }} </a>
                {% else %}
                <a class ="link" href="{{ Event.get_absolute_url }}"> {{ "Wew." }} </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
