{% extends "base.html" %}

<a>{% block nav-event %}<a class="btn btn-primary active" href="{% url 'event_list' %}">Zdarzenia</a>{% endblock %}</a>

{% block title %}
<h2>Edycja zdarzenia</h2>
{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    // This code activates flatpickr on fields with the 'datetimefield' class when the document has loaded
    window.addEventListener("DOMContentLoaded", function () {
        flatpickr(".datetimefield", {
            enableTime: true,
            enableSeconds: false,
            dateFormat: "Y-m-d H:i:S",
        });
    });
</script>

<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script type='text/javascript'>
$(document).ready(function(){
  $('#add_more').click(function() {
	  var form_idx = $('#id_eventproduct_set-TOTAL_FORMS').val();
	  $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
	  $('#id_eventproduct_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
  });
});
</script>

<form action="" method="post" class = "create_event" enctype="multipart/form-data">
    {% csrf_token %}
    <p class="pt-2">
      <button type="submit" value="" class="btn btn-primary w-10 mb-3" role="button">Zapisz</button>
      <a role="button" onclick="javascript:history.back();" class="btn btn-outline-secondary w-10 mb-3">Cofnij</a>
   </p>

   <table>
    <tr>
      <th>
        {{ form.as_p}}
      </th>
    </tr>
  </table>
  
  <p class="pt-2">
    <input type="button" class="btn btn-success" value="Dodaj pozycję" id="add_more">
  </p>

  {{ event_formset.management_form }}

  <div id="form_set" class="">
        {% for form in event_formset %}
        <div class="">
        {{ form }}
        </div>
        {% endfor %}
  </div>
  
  <div id="empty_form" style="display:none">
    <div class="d-flex">
      {{ event_formset.empty_form }}
    </div>
  </div>

</form>
{% endblock %}