{% extends "base.html" %}

{% block content %}
<script type="text/javascript" language="javascript" src="http://datatables.net/release-datatables/media/js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="http://datatables.net/release-datatables/media/js/jquery.dataTables.js"></script>
<script>
$(document).ready(function(){
 $('#plistTable').dataTable({
        pageLength : 100,
        lengthChange : false,
        language: {
            "lengthMenu": "Wyświetl _MENU_ wyników na stronie",
            "zeroRecords": "Bak wyników",
            "search": "Wyszukaj: ",
            "info": "Strona _PAGE_ z _PAGES_",
            "infoEmpty": "Nie ma nic do wyświetlenia",
            "infoFiltered": "(wyfiltrowano z _MAX_ wyników)",
            "paginate": {
                "previous": "poprzednia ",
                "next": " następna"
            },
        },
        
    });
    
});

</script>
<a role="button" onclick="javascript:history.back();" class="btn btn-outline-secondary w-10 mb-3">Cofnij</a>

<div class="container"></div>
<table id="plistTable", class="table table-hover table-bordered w-50">
    <thead>   <!-- header row -->
        <tr class="bg-primary text-white">
            <th class="">Klient</th>
            <th class="">Czas dodania</th>
            <th class="">Czas zakończenia</th>
            <th class="">Status</th>
        </tr>
    </thead>
    <tbody>   <!-- data  -->
    {% for Event.eventproduct_set.product in ware_list %}
        <tr class="">
            <td>
                <a class ="" href="{{ Event.get_absolute_url }}"> {{ Event.client }} </a>
            </td>
            <td>
                <a class ="" href="{{ Event.get_absolute_url }}"> {{ Event.time_add }} </a>
            </td>
            <td>
                <a class ="" href="{{ Event.get_absolute_url }}"> {{ Event.time_done }} </a>
            </td>
            <td>
                <a class ="" href="{{ Event.get_absolute_url }}"> {{ Event.get_status_display }} </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
